* {
  box-sizing: border-box;
  background-color: #53a6e6;
  font-family: sans-serif;
  outline: none;
  font-size: 15px;
  color: black;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-operator {
  padding: 5px;
  height: 50px;
  width: 50px;
  box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border-radius: 25px;
  border: none;
}
.button {
  padding: 5px;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border-radius: 25px;
  border: none;
}
.button-equalbtn {
  height: 50px;
  width: 50px;
  border: none;
  background-color: green;
  border-radius: 25px;
}
input {
  width: 215px;
  height: 30px;
  padding: 30px;
  margin-bottom: 10px;
  background-color: #ecf0f3;
  box-shadow: inset -5px -5px 12px #ffffff,
    inset 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  font-size: 40px;
  color: rgb(70, 70, 70);
}
h1 {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
